<div class="content">
  <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
    <div class="inputs">
      <div class="input">
        <label for="nome">Nome do astronauta</label>
        <input type="text" id="nome" name="nome" formControlName="nome" placeholder="Nome">
      </div>
      <div class="input">
        <label for="cpf">Código do astronauta</label>
        <!-- Desabilitado no TS -->
        <input type="text" id="cpf" name="cpf" formControlName="cpf" placeholder="CPF" mask="000.000.000-00">
      </div>
      <div class="input">
        <label for="genero">Gênero do astronauta</label>
        <!-- Desabilitado no TS -->
        <select id="genero" name="genero" formControlName="genero">
          <option value="masculino">Masculino</option>
          <option value="feminino">Feminino</option>
          <option value="naoInformar">Prefiro não informar</option>
        </select>
      </div>
    </div>
    <div class="inputs">
      <div class="input">
        <label for="dataNasc">Data de Nascimento</label>
        <!-- Desabilitado no TS -->
        <input type="date" id="dataNasc" name="dataNasc" formControlName="dataNascimento">
      </div>
      <div class="input">
        <label for="telefone">Telefone espacial</label>
        <input type="tel" id="telefone" name="telefone" formControlName="telefone" placeholder="Telefone" mask="(00) 00000-0000">
      </div>
    </div>
    <div class="inputs">
      <div class="input">
        <label for="email">Email da agência espacial</label>
        <input type="email" id="email" name="email" formControlName="email" placeholder="Seu email normal haha">
      </div>
    </div>
    <div class="inputs">
      <div class="continuar">
        <input type="submit" value="Salvar" class="enviar">
      </div>
    </div>
  </form>
</div>
