hr{
  margin: 2rem 0;
}

.geral{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--branco);
  border-radius: 1.5rem;
  padding: 2rem;
}

.continuar{
  display: flex;
  justify-content: center;
  align-items: center;
}
