<app-header></app-header>
<div class="geral">
  <div class="content">
    <h1>Editar Usuário</h1>
    <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
      <div class="grid">
        <div class="row">
          <div class="col-4 input">
            <label for="nome">Nome do astronauta</label>
            <input type="text" id="nome" name="nome" formControlName="nome" placeholder="Nome">
          </div>
          <div class="col-4 input">
            <label for="cpf">Código do astronauta</label>
            <input type="text" id="cpf" name="cpf" formControlName="cpf" placeholder="CPF" mask="000.000.000-00">
          </div>
          <div class="col-4 input">
            <label for="genero">Gênero do astronauta</label>
            <select id="genero" name="genero" formControlName="genero">
              <option value="masculino">Masculino</option>
              <option value="feminino">Feminino</option>
              <option value="naoInformar">Prefiro não informar</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-6 input">
            <label for="dataNasc">Data de Nascimento</label>
            <input type="date" id="dataNasc" name="dataNasc" formControlName="dataNascimento">
          </div>
          <div class="col-6 input">
            <label for="telefone">Telefone espacial</label>
            <input type="tel" id="telefone" name="telefone" formControlName="telefone" placeholder="Telefone" mask="(00) 00000-0000">
          </div>
        </div>
        <div class="row">
          <div class="col-12 input">
            <label for="email">Email da agência espacial</label>
            <input type="email" id="email" name="email" formControlName="email" placeholder="Seu email normal haha">
          </div>
        </div>
        <div class="row">
          <div class="continuar">
            <input type="submit" value="Salvar" class="btn-primary">
            <button (click)="openAlterarSenhaModal()" class="btn-secondary">Alterar Senha</button>
          </div>
        </div>
      </div>
    </form>

    <hr>

    <!-- endereços -->
    <h2>Endereços</h2>
    <div class="tabela">
      <table>
        <thead>
          <tr>
            <th>Rua</th>
            <th>Número</th>
            <th>Bairro</th>
            <th>CEP</th>
            <th>Cidade</th>
            <th>UF</th>
            <th>Tipo</th>
            <th>Editar</th>
            <th>Excluir</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let endereco of enderecos">
            <td>{{ endereco.end_Rua }}</td>
            <td>{{ endereco.end_Numero }}</td>
            <td>{{ endereco.end_Bairro }}</td>
            <td>{{ endereco.end_CEP }}</td>
            <td>{{ endereco.end_Cidade }}</td>
            <td>{{ endereco.end_UF }}</td>
            <td>{{ endereco.end_Tipo }}</td>
            <td>
              <i class="ri-edit-fill" (click)="openEnderecoModalEdit(endereco)"></i>
            </td>
            <td>
              <i class="ri-delete-bin-7-fill" (click)="openDeleteEnderecoModal(endereco)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- adicionar novo -->
    <button (click)="openEnderecoModalNew()" class="btn-secondary">Novo Endereço</button>

    <hr>

     <!-- cartões -->
      <h2>Cartões</h2>
      <div class="tabela">
        <table>
          <thead>
            <tr>
              <th>Número</th>
              <th>Nome</th>
              <th>Validade</th>
              <th>Excluir</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cartao of cartoes">
              <td>{{ cartao.car_Numero }}</td>
              <td>{{ cartao.car_Nome }}</td>
              <td>{{ cartao.car_Validade }}</td>
              <td>
                <i class="ri-delete-bin-7-fill" (click)="openDeleteCartaoModal(cartao)"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- adicionar novo -->
      <button (click)="openCartaoModalNew()" class="btn-secondary">Novo Cartão</button>
  </div>
</div>

<div *ngIf="enderecoModalNew" class="modal-overlay" (click)="closeModals()">
  <div class="modal" (click)="$event.stopPropagation()">
    <app-endereco [isNew]="true" (doneEvent)="closeModals()"></app-endereco>
  </div>
</div>

<div *ngIf="enderecoModalEdit" class="modal-overlay" (click)="closeModals()">
  <div class="modal" (click)="$event.stopPropagation()">
    <app-endereco [isEdit]="true" [endereco]="selectedEndereco" (doneEvent)="closeModals()"></app-endereco>
  </div>
</div>

<div *ngIf="cartaoModalNew" class="modal-overlay" (click)="closeModals()">
  <div class="modal" (click)="$event.stopPropagation()">
    <app-cartao [isNew]="true" (doneEvent)="closeModals()"></app-cartao>
  </div>
</div>

<div *ngIf="deleteEnderecoModal" class="modal-overlay" (click)="closeModals()">
  <div class="modal" (click)="$event.stopPropagation()">
    <app-confirmacao [text]="'Deseja deletar este endereço?'" (cancelEvent)="closeModals()" (confirmEvent)="deleteEndereco()" ></app-confirmacao>
  </div>
</div>

<div *ngIf="deleteCartaoModal" class="modal-overlay" (click)="closeModals()">
  <div class="modal" (click)="$event.stopPropagation()">
    <app-confirmacao [text]="'Deseja deletar este cartão?'" (cancelEvent)="closeModals()" (confirmEvent)="deleteCartao()"></app-confirmacao>
  </div>
</div>

<div *ngIf="alterarSenhaModal" class="modal-overlay" (click)="closeModals()">
  <div class="modal" (click)="$event.stopPropagation()">
    <app-trocar-senha [usario]="user" (doneEvent)="closeModals()"></app-trocar-senha>
  </div>
</div>
