<div class="geral">
  <div class="content">
    <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
      <div class="grid">
        <div class="row">
          <div class="col-4 input">
            <label for="nome">Nome do astronauta</label>
            <input type="text" id="nome" name="nome" formControlName="nome" placeholder="Nome">
          </div>
          <div class="col-4 input">
            <label for="cpf">Código do astronauta</label>
            <input type="text" id="cpf" name="cpf" formControlName="cpf" placeholder="CPF" mask="000.000.000-00">
          </div>
          <div class="col-4 input">
            <label for="genero">Gênero do astronauta</label>
            <select id="genero" name="genero" formControlName="genero">
              <option value="masculino">Masculino</option>
              <option value="feminino">Feminino</option>
              <option value="naoInformar">Prefiro não informar</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-6 input">
            <label for="dataNasc">Data de Nascimento</label>
            <input type="date" id="dataNasc" name="dataNasc" formControlName="dataNascimento">
          </div>
          <div class="col-6 input">
            <label for="telefone">Telefone espacial</label>
            <input type="tel" id="telefone" name="telefone" formControlName="telefone" placeholder="Telefone" mask="(00) 00000-0000">
          </div>
        </div>
        <div class="row">
          <div class="col-12 input">
            <label for="email">Email da agência espacial</label>
            <input type="email" id="email" name="email" formControlName="email" placeholder="Seu email normal haha">
          </div>
        </div>
        <div class="row">
          <div class="continuar">
            <input type="submit" value="Salvar" class="btn-primary">
          </div>
        </div>
      </div>
    </form>

    <!-- endereços -->
    <div>
        <h2>Endereços</h2>
    </div>
    <div *ngFor="let endereco of enderecos" >
      <app-endereco  [endereco]="endereco" [isView]="true"></app-endereco>
      <hr>
    </div>
    <!-- adicionar novo -->
    <button (click)="openEnderecoModal()" class="btn-secondary">Novo endereço</button>

     <!-- cartões -->
      <div>
        <h2>Cartões</h2>
      </div>
      <div>
        <app-cartao *ngFor="let cartao of cartoes" [cartao]="cartao" [isView]="true"></app-cartao>
        <hr>
      </div>
      <!-- adicionar novo -->
      <button (click)="openCartaoModal()" class="btn-secondary">Novo cartão</button>
  </div>
</div>

<div *ngIf="enderecoModal" class="modal-overlay" (click)="closeModals()">
  <div class="modal" (click)="$event.stopPropagation()">
    <app-endereco [isNew]="true" (doneEvent)="closeModals()"></app-endereco>
  </div>
</div>

<div *ngIf="cartaoModal" class="modal-overlay" (click)="closeModals()">
  <div class="modal" (click)="$event.stopPropagation()">
    <app-cartao [isNew]="true" (doneEvent)="closeModals()"></app-cartao>
  </div>
</div>
