h1{
  text-align: center;
  font-family: var(--lemon);
  color: var(--espresso)
}

.geral{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--branco);
  border-radius: 1.5rem;
  padding: 2rem;
}

.input {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.input input,
.input select {
  font-size: 1.2rem;
  padding: 0.3rem;
  border-radius: 7px;
  border: 0.063px solid var(--pingado);
}

.input label{
  font-family: var(--lato);
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
  color: var(--espresso);
}

.input :placeholder-shown{
  font-family: var(--lato);
  font-size: 1.2rem;
  color: var(--topo);
}

.continuar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.stage{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 5px;
  margin: 0.5rem 0;
}

/* id user */
.staged{
  width: 0.7rem;
  background-color: var(--topo);
  height: 0.7rem;
}

.unstaged{
  width: 0.7rem;
  background-color: var(--cappuccino);
  height: 0.7rem;
}

