<form [formGroup]="enderecoForm" (ngSubmit)="onSubmit()">
  <div class="inputs">
    <div class="input">
      <label for="cep">CEP</label>
      <input type="text" id="cep" formControlName="cep"/>
    </div>
    <div class="input">
      <label for="rua">Rua</label>
      <input type="text" id="rua" formControlName="rua"/>
    </div>
    <div class="input">
      <label for="numero">Número</label>
      <input type="text" id="numero" formControlName="numero"/>
    </div>
  </div>
  <div class="inputs">
    <div class="input">
      <label for="bairro">bairro</label>
      <input type="text" id="bairro" formControlName="bairro"/>
    </div>
    <div class="input">
      <label for="cidade">Cidade</label>
      <input type="text" id="cidade" formControlName="cidade"/>
    </div>
    <div class="input">
      <label for="UF">UF</label>
      <select id="UF" formControlName="UF">
        <option value="AC">AC</option>
        <option value="AL">AL</option>
        <option value="AP">AP</option>
        <option value="AM">AM</option>
        <option value="BA">BA</option>
        <option value="CE">CE</option>
        <option value="DF">DF</option>
        <option value="ES">ES</option>
        <option value="GO">GO</option>
        <option value="MA">MA</option>
        <option value="MT">MT</option>
        <option value="MS">MS</option>
        <option value="MG">MG</option>
        <option value="PA">PA</option>
        <option value="PB">PB</option>
        <option value="PR">PR</option>
        <option value="PE">PE</option>
        <option value="PI">PI</option>
        <option value="RJ">RJ</option>
        <option value="RN">RN</option>
        <option value="RS">RS</option>
        <option value="RO">RO</option>
        <option value="RR">RR</option>
        <option value="SC">SC</option>
        <option value="SP">SP</option>
        <option value="SE">SE</option>
        <option value="TO">TO</option>
      </select>
    </div>
  </div>
  <div class="inputs">
    <div class="input">
      <label for="tipo">tipo</label>
      <select name="tipo" id="tipo" formControlName="tipo">
        <option value="RESIDENCIAL">Residencial</option>
        <option value="PREDIO">Comercial</option>
      </select>
    </div>
    <div class="input">
      <label for="complemento">Complemento</label>
      <input type="text" id="complemento" formControlName="complemento"/>
    </div>
  </div>

  <div class="continuar">
    <input type="submit" value="Enviar" class="enviar">
  </div>
</form>

<div class="erro" *ngIf="error">
  <p>{{ error }}</p>
</div>
