h1{
  font-family: var(--lemon);
  color: var(--double);
}

.tabela{
  width: 90%;
  border-collapse: separate;
  border-spacing: 0 0.3rem;
  overflow-x: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;

  font-family: var(--lemon);
}

.pagination-controls button {
  padding: 10px;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
