h1{
  font-family: var(--lemon);
  color: var(--double);
}

.tabela{
  width: 90%;
  border-collapse: separate;
  border-spacing: 0 0.3rem;
  overflow-x: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}
