<app-header></app-header>
<div class="center">
  <div class="content">
    <div class="inside">
      <div class="left">
        <h2>
          Minha Conta
        </h2>
        <button (click)="openUserTab()" class="btn-small-secondary">Meus Dados</button>
        <button (click)="openEnderecoTab()" class="btn-small-secondary">Meus Endereços</button>
        <button (click)="openCartaoTab()" class="btn-small-secondary">Meus Cartões</button>
        <button (click)="openPedidoTab()" class="btn-small-secondary">Meus Pedidos</button>
        <button (click)="openDeleteContaModal()" class="btn-small-secondary">Deletar Conta</button>
      </div>
      <div class="right">
        <div id="meusDados" *ngIf="userTab" class="center-column">
          <h2>Meus Dados</h2>
          <form [formGroup]="editUserForm" (ngSubmit)="onSubmitUser()">
            <div class="grid">
              <div class="row">
                <div class="col-4 input">
                  <label for="nome">Nome do astronauta</label>
                  <input type="text" id="nome" name="nome" formControlName="nome" placeholder="Nome">
                </div>
                <div class="col-4 input">
                  <label for="cpf">Código do astronauta</label>
                  <input type="text" id="cpf" name="cpf" formControlName="cpf" placeholder="CPF" mask="000.000.000-00">
                </div>
                <div class="col-4 input">
                  <label for="genero">Gênero do astronauta</label>
                  <select id="genero" name="genero" formControlName="genero">
                    <option value="masculino">Masculino</option>
                    <option value="feminino">Feminino</option>
                    <option value="naoInformar">Prefiro não informar</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-6 input">
                  <label for="dataNasc">Data de Nascimento</label>
                  <input type="date" id="dataNasc" name="dataNasc" formControlName="dataNascimento">
                </div>
                <div class="col-6 input">
                  <label for="telefone">Telefone espacial</label>
                  <input type="tel" id="telefone" name="telefone" formControlName="telefone" placeholder="Telefone" mask="(00) 00000-0000">
                </div>
              </div>
              <div class="row">
                <div class="col-12 input">
                  <label for="email">Email da agência espacial</label>
                  <input type="email" id="email" name="email" formControlName="email" placeholder="Seu email normal haha">
                </div>
              </div>
              <div class="center">
                <input type="submit" value="Salvar" class="btn-primary">
                <button type="button" (click)="openSenhaModal()" class="btn-secondary">Alterar Senha</button>
              </div>
            </div>
          </form>
        </div>
        <div id="meusEnderecos" *ngIf="enderecoTab" class="center-column">
          <h2>Endereços</h2>
          <div class="tabela">
            <table>
              <thead>
                <tr>
                  <th>Apelido</th>
                  <th>Rua</th>
                  <th>Número</th>
                  <th>Bairro</th>
                  <th>CEP</th>
                  <th>Editar</th>
                  <th>Excluir</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let endereco of enderecos">
                  <td>{{ endereco.end_Apelido }}</td>
                  <td>{{ endereco.end_Rua }}</td>
                  <td>{{ endereco.end_Numero }}</td>
                  <td>{{ endereco.end_Bairro }}</td>
                  <td>{{ endereco.end_CEP }}</td>
                  <td>
                    <i class="ri-edit-fill" (click)="openEnderecoModalEdit(endereco)"></i>
                  </td>
                  <td>
                    <i class="ri-delete-bin-7-fill" (click)="openDeleteEnderecoModal(endereco)"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- adicionar novo -->
           <!-- pagination controller -->
           <div class="pagination-controls">
            <button *ngIf="enderecoPage > 1" (click)="previousPageEndereco()" aria-label="Página anterior">
              <i class="ri-arrow-left-s-line"></i>
            </button>
            <p>{{ enderecoPage }}</p>
            <button *ngIf="enderecoPage < totalEnderecosPage" (click)="nextPageEndereco()" aria-label="Próxima página">
              <i class="ri-arrow-right-s-line"></i>
            </button>
            </div>
          <button (click)="openEnderecoModalNew()" class="btn-secondary">Novo Endereço</button>
        </div>
        <div id="meusCartoes" *ngIf="cartaoTab" class="center-column">
          <h2>Cartões</h2>
          <div class="tabela">
            <table>
              <thead>
                <tr>
                  <th>Número</th>
                  <th>Nome</th>
                  <th>Validade</th>
                  <th>Excluir</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cartao of cartoes">
                  <td>{{ cartao.car_Numero }}</td>
                  <td>{{ cartao.car_Nome }}</td>
                  <td>{{ cartao.car_Validade }}</td>
                  <td>
                    <i class="ri-delete-bin-7-fill" (click)="openDeleteCartaoModal(cartao)"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- adicionar novo -->
           <!-- pagination controller -->
           <div class="pagination-controls">
            <button *ngIf="cartaoPage > 1" (click)="previousPageCartao()" aria-label="Página anterior">
              <i class="ri-arrow-left-s-line"></i>
            </button>
            <p>{{ cartaoPage }}</p>
            <button *ngIf="cartaoPage < totalCartoesPage" (click)="nextPageCartao()" aria-label="Próxima página">
              <i class="ri-arrow-right-s-line"></i>
            </button>
            </div>
          <button (click)="openCartaoModalNew()" class="btn-secondary">Novo Cartão</button>
        </div>
        <div id="meusPedidos" *ngIf="pedidoTab" class="center-column">
          <h2>Pedidos</h2>
          <div class="tabela">
            <table>
              <thead>
                <tr>
                  <th>Valor</th>
                  <th>Status</th>
                  <th>Endereco</th>
                  <th>Detalhes</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pedido of pedidos">
                  <td>R${{ pedido.ped_ValorTotal }}</td>
                  <td>{{ pedido.ped_Status }}</td>
                  <td>{{ pedido.endereco.end_Apelido }}</td>
                  <td>
                    <i class="ri-eye-line" (click)="openPedido(pedido)"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="pagination-controls">
            <button *ngIf="pedidoPage > 1" (click)="previousPagePedido()" aria-label="Página anterior">
              <i class="ri-arrow-left-s-line"></i>
            </button>
            <p>{{ pedidoPage }}</p>
            <button *ngIf="pedidoPage < totalPedidosPage" (click)="nextPagePedido()" aria-label="Próxima página">
              <i class="ri-arrow-right-s-line"></i>
            </button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- modals -->
<div *ngIf="senhaModal" class="modal-overlay" (click)="closeUserModals()">
  <div class="modal" (click)="$event.stopPropagation()">
    <app-trocar-senha [usario]="user" (doneEvent)="closeUserModals()"></app-trocar-senha>
  </div>
</div>

<!-- ederecos  -->
<div *ngIf="enderecoEditModal" class="modal-overlay" (click)="closeEnderecoModals()">
  <div class="modal" (click)="$event.stopPropagation()">
    <app-endereco [endereco]="selectedEndereco" [isEdit]="true" (doneEvent)="closeEnderecoModals()"></app-endereco>
  </div>
</div>

<div *ngIf="enderecoNewModal" class="modal-overlay" (click)="closeEnderecoModals()">
  <div class="modal" (click)="$event.stopPropagation()">
    <app-endereco  [isNew]="true" (doneEvent)="closeEnderecoModals()"></app-endereco>
  </div>
</div>

<div *ngIf="enderecoDeleteModal" class="modal-overlay" (click)="closeEnderecoModals()">
  <div class="modal" (click)="$event.stopPropagation()">
    <app-confirmacao [text]="'Deseja deletar este endereço?'" (cancelEvent)="closeEnderecoModals()" (confirmEvent)="deleteEndereco()"></app-confirmacao>
  </div>
</div>

<!-- cartoes -->
<div *ngIf="cartaoNewModal" class="modal-overlay" (click)="closeCartaoModals()">
  <div class="modal" (click)="$event.stopPropagation()">
    <app-cartao (doneEvent)="closeCartaoModals()" [isNew]="true"></app-cartao>
  </div>
</div>

<div *ngIf="cartaoDeleteModal" class="modal-overlay" (click)="closeCartaoModals()">
  <div class="modal" (click)="$event.stopPropagation()">
    <app-confirmacao [text]="'Deseja deletar este cartão?'" (cancelEvent)="closeCartaoModals()" (confirmEvent)="deleteCartao()"></app-confirmacao>
  </div>
</div>

<!-- deletar conta -->
<div *ngIf="deleteContaModal" class="modal-overlay" (click)="closeContaModals()">
  <div class="modal" (click)="$event.stopPropagation()">
    <app-confirmacao [text]="'Deseja deletar sua conta?'" (cancelEvent)="closeContaModals()" (confirmEvent)="deleteAccount()"></app-confirmacao>
  </div>
</div>
