.input {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.input input,
.input select {
  font-size: 1.2rem;
  padding: 0.3rem;
  border-radius: 7px;
  border: 0.063px solid var(--pingado);
}

.input label{
  font-family: var(--lato);
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
  color: var(--espresso);
}

.input :placeholder-shown{
  font-family: var(--lato);
  font-size: 1.2rem;
  color: var(--topo);
}

.enviar{
  border-radius: 7px;
  font-family: var(--lemon);
  font-size: 1.2rem;
  color: var(--branco);
  padding: 0.5rem 1rem;
  background-color: var(--pingado);
  margin-top: 1rem;
}

.continuar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
