<div class="center">
  <h1>Alterar Senha</h1>
  <form [formGroup]="trocarSenhaForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="senhaAtual">Senha atual</label>
      <input type="password" formControlName="senhaAtual" id="senhaAtual">
    </div>
    <div>
      <label for="novaSenha">Nova senha</label>
      <input type="password" formControlName="novaSenha" id="novaSenha">
    </div>
    <div>
      <label for="confirmarNovaSenha">Confirmar nova senha</label>
      <input type="password" formControlName="confirmarNovaSenha" id="confirmarNovaSenha">
    </div>

  </form>
  <button type="submit" class="btn-secondary">Salvar</button>

  <div class="erro">
    <p>{{error}}</p>
  </div>

</div>
