<app-header></app-header>

<div class="center">
  <div class="content">
    <div class="config">
      <div class="input">
        <label for="dataInicial">Data Inicial</label>
        <input type="date" name="dataInicial" [(ngModel)]="dataInicial">
      </div>

      <div class="input">
        <label for="dataFinal">Data Final</label>
        <input type="date" name="dataFinal" [(ngModel)]="dataFinal">
      </div>

      <button class="btn-small-primary">Visualizar</button>
    </div>
  </div>
</div>
