.config{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.screen{
  height: 45rem;
}


.chart {
  width: 100%; /* Ocupa toda a largura disponível */
  height: 400px; /* Ajuste a altura conforme necessário */
}

canvas {
  width: 100% !important; /* Força o canvas a ocupar toda a largura do contêiner */
  height: 100% !important; /* Força o canvas a ocupar toda a altura do contêiner */
}
