@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lemon&family=Lemonada:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lemon&family=Lemonada:wght@300..700&display=swap');
:root {
  /*
  Color Palette variables
  */
  --pingado: #AE7C6E;
  --cappuccino: #745249;
  --espresso: #392925;

  --sucesso: #5BA9E0;
  --erro: #DB3732;
  --alerta: #E0D54A;

  --branco: #FEFEFE;
  --topo: #352B2A;
  --bege: #F5E7C9;

  --double: #261B18;

  /*
  Font Family variables
  */
  --lemon: 'Lemon', cursive;
  --lato: 'Lato', sans-serif;
  --inter: 'Inter', sans-serif;
  --lemonada: 'Lemonada', cursive;
}

body{
  margin: 0%;
  padding: none;

  background-color: var(--bege);
}

/* modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  width: auto;
  height: auto;
  background: var(--branco);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  padding: 1.7rem;
}

/* fim modal */

/* tabela */
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.3rem;
  overflow-x: auto;
}

th {
  font-family: var(--lato);
  font-size: 1.2rem;
  color: var(--espresso);
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid var(--espresso);
}

td {
  font-family: var(--lato);
  font-size: 1.2rem;
  color: var(--espresso);
  padding: 1rem;
  text-align: center;
  border-bottom: 1px dashed var(--espresso);
}

tfoot td {
  padding: 0.5rem;
}

/* fim tabela */

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--branco);
  border-radius: 1.5rem;
  padding: 2rem;
  width: 90%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

/* grid */

.grid {
  margin-top: 20px;
}

.row {
  width: 100%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  /* padding: 15px; */
}

.col-1 {
  width: calc(8.33% - 1rem);
  margin: 0.5rem;
}

.col-2 {
  width: calc(16.66% - 1rem);
  margin: 0.5rem;
}

.col-3 {
  width: calc(25% - 1rem);
  margin: 0.5rem;
}

.col-4 {
  width: calc(33.33% - 1rem);
  margin: 0.5rem;
}

.col-5 {
  width: calc(41.66% - 1rem);
  margin: 0.5rem;
}

.col-6 {
  width: calc(50% - 1rem);
  margin: 0.5rem;
}

.col-7 {
  width: calc(58.33% - 1rem);
  margin: 0.5rem;
}

.col-8 {
  width: calc(66.66% - 1rem);
  margin: 0.5rem;
}

.col-9 {
  width: calc(75% - 1rem);
  margin: 0.5rem;
}

.col-10 {
  width: calc(83.33% - 1rem);
  margin: 0.5rem;
}

.col-11 {
  width: calc(91.66% - 1rem);
  margin: 0.5rem;
}

.col-12 {
  width: calc(100% - 1rem);
  margin: 0.5rem;
}

/* fim grid */

/* erro */
.erro {
  color: var(--erro);
  font-size: 1.2rem;
  font-family: var(--lato);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* fim erro */

/* botões */

.btn-primary{
  border-radius: 7px;
  font-family: var(--lemon);
  font-size: 1.2rem;
  color: var(--branco);
  padding: 0.5rem 1rem;
  background-color: var(--cappuccino);
  margin-top: 1rem;
  width: 10rem;
}

.btn-secondary{
  border-radius: 7px;
  font-family: var(--lemon);
  font-size: 1.2rem;
  color: var(--branco);
  padding: 0.5rem 1rem;
  background-color: var(--pingado);
  margin-top: 1rem;
  width: 15rem;
}

.btn-small-secondary{
  border-radius: 7px;
  font-family: var(--lemon);
  font-size: 1rem;
  color: var(--branco);
  padding: 0.4rem 0.7rem;
  background-color: var(--pingado);
  margin-top: 1rem;
  width: 13rem;
}

.btn-success{
  border-radius: 7px;
  font-family: var(--lemon);
  font-size: 1.2rem;
  color: var(--branco);
  padding: 0.5rem 1rem;
  background-color: var(--sucesso);
  margin-top: 1rem;
  width: 10rem;
}

.btn-danger{
  border-radius: 7px;
  font-family: var(--lemon);
  font-size: 1.2rem;
  color: var(--branco);
  padding: 0.5rem 1rem;
  background-color: var(--erro);
  margin-top: 1rem;
  width: 10rem;
}

.btn-warning{
  border-radius: 7px;
  font-family: var(--lemon);
  font-size: 1.2rem;
  color: var(--branco);
  padding: 0.5rem 1rem;
  background-color: var(--alerta);
  margin-top: 1rem;
  width: 10rem;
}

/* fim botões */

/* inputs */

.input {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.input input,
.input select {
  font-size: 1.2rem;
  padding: 0.3rem;
  border-radius: 7px;
  border: 0.063px solid var(--pingado);
}

.input label {
  font-family: var(--lato);
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
  color: var(--espresso);
}

.input :placeholder-shown{
  font-family: var(--lato);
  font-size: 1.2rem;
  color: var(--topo);
}

/* fim inputs */

/* pagination */
.pagination-controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;

  font-family: var(--lemon);
}

.pagination-controls button {
  padding: 10px;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo da estrutura do switch */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-left: 10px; /* Ajusta o espaçamento se necessário */
}

/* Esconde o checkbox padrão */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Estilo do slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

/* Estilo da bolinha */
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Quando o checkbox está marcado */
input:checked + .slider {
  background-color: var(--pingado);
}

/* Movimenta a bolinha para a direita quando ativado */
input:checked + .slider:before {
  transform: translateX(26px);
}

/* Efeito de foco no switch */
.switch input:focus + .slider {
  box-shadow: 0 0 1px var(--pingado);
}

/* Estilo adicional opcional para o estado de desativado */
input:disabled + .slider {
  background-color: #ddd;
}

i{
  cursor: pointer;
}
