/*
Color Palette variables
 */
:root {
  --pingado: #AE7C6E;
  --cappuccino: #745249;
  --espresso: #392925;

  --sucesso: #5BA9E0;
  --erro: #DB3732;
  --alerta: #E0D54A;

  --branco: #FEFEFE;
  --topo: #352B2A;
  --bege: #F5E7C9;

  --double: #261B18;
}
