<app-header></app-header>

<div class="container">
  <div class="categorias">
    <button class="categoria todos" (click)="ChangeCategoria('universo-de-chocolate')">
      <img src="../../../../assets/icon/todos.svg" alt="Universo de chocolate">
      <p>Todos os produtos</p>
    </button>
    <button class="categoria leite" (click)="ChangeCategoria('planeta-ao-leite')">
      <img src="../../../../assets/icon/planeta-ao-leite-branco.svg" alt="">
      <p>Planeta ao leite</p>
    </button>
    <button class="categoria amargo" (click)="ChangeCategoria('buraco-negro-meio-amargo')">
      <img src="../../../../assets/icon/buraco-negro-meio-amargo-branco.svg" alt="">
      <p>Buraco negro meio amargo</p>
    </button>
    <button class="categoria branco" (click)="ChangeCategoria('ana-chocolate-branco')">
      <img src="../../../../assets/icon/ana-chocolate-branco-preto.svg" alt="">
      <p>Anã chocolate branco</p>
    </button>
  </div>
</div>
<div class="produtos">
  <app-produto
   *ngFor="let produto of produtos"
    [chocolate]="produto"
   ></app-produto>
</div>

<div class="pagination-controls">
  <button *ngIf="pagina > 1" (click)="paginaAnterior()" aria-label="Página anterior">
    <i class="ri-arrow-left-s-line"></i>
  </button>
  <p>{{ pagina }}</p>
  <button *ngIf="pagina < paginasTotal()" (click)="proximaPagina()" aria-label="Próxima página">
    <i class="ri-arrow-right-s-line"></i>
  </button>
</div>
