<app-header></app-header>
<div class="center">
  <div class="content">
    <h1>Pedido</h1>
    <form [formGroup]="pedidoForm" (ngSubmit)="updatePedido()">
      <div class="grid">
        <div class="row">
          <div class="col-10 input">
            <label for="numero">Número</label>
            <input type="text" id="numero" name="numero" formControlName="numero">
          </div>
          <div class="col-2 input">
            <label for="valor">Valor</label>
            <input type="text" name="Valor" id="valor" formControlName="valor">
          </div>
        </div>
        <div class="row">
          <div class="col-6 input">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" formControlName="nome">
          </div>
          <div class="col-6 input">
            <label for="CPF">CPF</label>
            <input type="text" name="CPF" id="CPF" formControlName="CPF">
          </div>
        </div>
        <div class="row">
          <div class="col-12 input">
            <label for="status">Status</label>
            <select id="status" name="status" formControlName="status">
              <option value="PAGAMENTO_REALIZADO">Pagemento realizado</option>
              <option value="PAGAMENTO_REJEITADO">Pagemento rejeitado</option>
              <option value="EM_TRANSPORTE">Em transporte</option>
              <option value="ENTREGUE">Entregue</option>
              <option value="CANCELADO">Cancelado</option>
            </select>
          </div>
        </div>
      </div>
      <div class="center">
        <input type="submit" value="Salvar" class="btn-primary">
      </div>
      <div>
        <p>{{error}}</p>
      </div>
    </form>


    <div class="chocolates">
      <h2>Chocolates</h2>
      <div class="tabela">
        <table>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Valor</th>
              <th>Quantidade</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let chocolate of pedido?.cho">
              <td>{{ chocolate.chocolate.cho_Nome }}</td>
              <td>{{ formatarValor(chocolate.chocolate.cho_Valor) }}</td>
              <td>{{ chocolate.chp_Quantidade }}</td>
              <td>{{ setTotal(chocolate) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="infos">
      <div class="cupons">
        <h2>Cupons</h2>
        <div class="tabela">
          <table>
            <thead>
              <tr>
                <th>Código</th>
                <th>Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cupom of pedido?.cup">
                <td>{{ cupom.cupom.cup_Codigo }}</td>
                <td>{{ formatarValor(cupom.cupom.cup_Valor) }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="cartoes">
        <h2>Cartões</h2>
        <div class="tabela">
          <table>
            <thead>
              <tr>
                <th>Nome</th>
                <th>Número</th>
                <th>Apelido</th>
                <th>Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cartao of pedido?.car">
                <td>{{ cartao.cartao.car_Nome }}</td>
                <td>{{ cartao.cartao.car_Numero }}</td>
                <td>{{ cartao.cartao.car_Apelido }}</td>
                <td>{{ formatarValor(cartao.cap_Valor) }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="edereco">
      <h2>Endereço de entrega</h2>
      <form [formGroup]="enderecoForm">
        <div class="grid">
          <div class="row">
            <div class="col-4 input">
              <label for="cep">CEP</label>
              <input type="text" id="cep" formControlName="CEP" mask="99.999-999"/>
            </div>
            <div class="col-6 input">
              <label for="rua">Rua</label>
              <input type="text" id="rua" formControlName="rua"/>
            </div>
            <div class="col-2 input">
              <label for="numero">Número</label>
              <input type="text" id="numero" formControlName="numero" mask="0*"/>
            </div>
          </div>
          <div class="row">
            <div class="col-5 input">
              <label for="bairro">Bairro</label>
              <input type="text" id="bairro" formControlName="bairro"/>
            </div>
            <div class="col-5 input">
              <label for="cidade">Cidade</label>
              <input type="text" id="cidade" formControlName="cidade"/>
            </div>
            <div class="col-2 input">
              <label for="UF">UF</label>
              <select id="UF" formControlName="UF">
                <option value="AC">AC</option>
                <option value="AL">AL</option>
                <option value="AP">AP</option>
                <option value="AM">AM</option>
                <option value="BA">BA</option>
                <option value="CE">CE</option>
                <option value="DF">DF</option>
                <option value="ES">ES</option>
                <option value="GO">GO</option>
                <option value="MA">MA</option>
                <option value="MT">MT</option>
                <option value="MS">MS</option>
                <option value="MG">MG</option>
                <option value="PA">PA</option>
                <option value="PB">PB</option>
                <option value="PR">PR</option>
                <option value="PE">PE</option>
                <option value="PI">PI</option>
                <option value="RJ">RJ</option>
                <option value="RN">RN</option>
                <option value="RS">RS</option>
                <option value="RO">RO</option>
                <option value="RR">RR</option>
                <option value="SC">SC</option>
                <option value="SP">SP</option>
                <option value="SE">SE</option>
                <option value="TO">TO</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-4 input">
              <label for="tipo">Tipo</label>
              <select name="tipo" id="tipo" formControlName="tipo">
                <option value="RESIDENCIAL">Residencial</option>
                <option value="PREDIO">Comercial</option>
              </select>
            </div>
            <div class="col-8 input">
              <label for="complemento">Complemento</label>
              <input type="text" id="complemento" formControlName="complemento"/>
            </div>
          </div>
          <div class="row">
            <div class="col-8  input">
              <label for="apelido">Apelido</label>
              <input type="text" id="apelido" formControlName="apelido"/>
            </div>
            <div class="col-2 input">
              <label for="cobranca">Cobrança</label>
              <label class="switch">
                <input type="checkbox" id="cobranca" formControlName="cobranca">
                <span class="slider"></span>
              </label>
            </div>

            <div class="col-2 input">
              <label for="entrega">Entrega</label>
              <label class="switch">
                <input type="checkbox" id="entrega" formControlName="entrega">
                <span class="slider"></span>
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
